.my-button::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: blue;
    animation: sling-in 0.25s backwards;
}

@keyframes sling-in {
    to {
        left: 0;
    }
}